/*variables*/
:root {
    --border-color-active: rgb(97, 97, 97);
    --border-color-disable: rgb(200, 200, 200);
    --border-color-readOnly: rgb(144, 144, 144);
    --font-color-active: rgb(65, 65, 65);
    --font-color-disable: rgb(146, 146, 146);
    --font-color-readOnly: rgb(137, 137, 137);
    --border-size: 2px;
    --border-radius: 10px;
}
body {
    font-family: sans-serif !important;
}

/*Tamaños*/

.an-25 {
    width: 25% !important
}

.an-50 {
    width: 50% !important
}

.an-75 {
    width: 75% !important
}

.an-100 {
    width: 100% !important
}

.an-auto {
    width: auto !important
}
.al-25 {
    height: 25% !important
}

.al-50 {
    height: 50% !important
}

.al-75 {
    height: 75% !important
}

.al-100 {
    height: 100% !important
}

.al-auto {
    height: auto !important
}

/*Inpust*/

.input-flotante{
    display: flex;
    flex-direction: column;
    margin-top: 15px !important;
    height: 35px;
}
.input-normal{
    display: flex;
    flex-direction: column;
    margin-top: 15px !important;
    height: 35px;
}

.label{
    position: absolute;
    margin-top: -19px;
    margin-left: 8px;
    transition: all 0.3s ease;
    color: var(--font-color-active);
}

.input-text{
    margin-right: 10px;
    height: 30px;
    padding-left: 6px;
    background: none;
    color: var(--font-color-active);
    border-radius: var(--border-radius);
    outline: none;
    border: var(--border-size) solid var(--border-color-active);
}
.input-text:disabled{
    color: var(--font-color-disable);
    border: 2px solid var(--border-color-disable);
}
.input-text:not(:disabled):read-only{
    color: var(--font-color-readOnly);
    border: 2px solid var(--border-color-readOnly);
}

.input-flotante label{
    margin-top: 9px;
    position: absolute;
    margin-left: 8px;
    transition: all 0.3s ease;
    color: var(--font-color-active);
}
.input-flotante .input-text:focus:not(:disabled)+ label{
    color: #1cb7de;
}
.input-flotante .input-text:focus+ label,
.input-flotante .input-text:not(:disabled):not(:placeholder-shown)+ label{
    transform: translateY(-170%);
    font-size: 14px;
}

.input-text:focus:not(:disabled){
    border: 2px solid #1cb7de;
}