body,
header,
h1,
h2,
p {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol;
}

:root {
    --border-color-active: #C6D1D3;
    --active: #C6D1D3;
    --border-color-disable: rgb(200, 200, 200);
    --border-color-readOnly: rgb(144, 144, 144);
    --font-color-active: rgb(65, 65, 65);
    --font-color-disable: rgb(146, 146, 146);
    --font-color-readOnly: rgb(137, 137, 137);
    --border-size: 2px;
    --border-radius: 8px;
}


/*Prueba*/

/*Div donde se encuantran los selects*/
.select {
    position: relative;
    display: flex;
    line-height: 3;
    height: 100%;
    background: #fff;
    overflow: hidden;
    border: var(--border-size) solid var(--border-color-active);
    border-radius: var(--border-radius);
}

/*agregar flecha al div del select*/
.select::after {
    content: '\25BC';
    position: absolute;
    font-size: 14px;
    right: 0;
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

/*hover en la flecha del Select*/
.select:hover::after {
    color: rgb(167, 97, 97);
}

/*clase de por defecto de los selects*/
.select-form {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    flex: 2;
    height: 40px !important;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.select-form::-ms-expand {
    display: none;
}

.select-form:hover {
    background: #f6f6f6
}

.select-form[multiple] {
    padding: 0px;
    height: 125px !important;
}

.multi-select {
    position: relative;
    display: flex;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    padding-top: 0.7px;
    border: var(--border-size) solid var(--border-color-active);
    border-radius: var(--border-radius);
}

.select-form>option,
.select-form>optgroup>option {
    display: flex;
    align-items: center;
    padding: 0.5em 1em !important;
    font-size: 14px !important;
}

.select-form>option:checked {
    background-color: var(--active);
    transition: ease 0.2s;
}

.select-form>option:hover,
.select-form>optgroup>option:hover {
    background-color: #dae6e9;
    transition: ease 0.2s;
}