body,
h1 {
    /*Resetar todos los margenes,paddings y border box*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol;
}

.main {
    display: flex;

}

.container {
    background-color: #eff3f8;
    /*contenedor con un 80% de la pantalla*/
    width: 100%;
    height: 100vh;
}

.menu {
    background-color: #fff;
    /*menu con un 20% de la pantalla*/
    width: 180px;
    height: 100vh;
    padding: 0 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.parent {
    display: flex;
    flex-direction: column;
}

.child {
    /*alinear el texto en el centro*/
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 2px;
    height: 40px;
}

.active {
    background-color: #eff3f8;
    /*Color de texto azul y en negrita*/
    color: #1a73e8 !important;
    font-weight: bold;
    border-radius: 10px;
    outline: 2px solid magenta;

}

.child:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.parent>a {
    text-decoration: none;
    color: black;
}